.footer {
    text-align: center;
    padding: 285px 0 34px;
    &__copy {
        padding-top: 27px;
        @extend %font-light;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1.05px;
        color: rgba(#fff, 0.5);
    }
    .btn{
        span {
            padding: 17px 17px 15px;
            &::after {
                display: none;
            }
        }
    }
}
