// PLUS / MINUS
.quantity {
    display: inline-block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.quantity input {
    width: 45px;
    height: 42px;
    display: block;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 40px;
    line-height: 36px;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: static;
    height: 42px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 43px;
}

.quantity-button.quantity-up {
    position: absolute;
    right: 0;
}

.quantity-button.quantity-down {
    position: absolute;
    right: 25px;
    color: $green;
}
