.surf {
    background-image: url("../images/surf-bg.png");
    background-position: right 200px;
    background-repeat: no-repeat;
    background-size: auto;

    &__subtitle {
        text-align: right;
        padding-right: 80px;
        margin-top: -70px;
    }
    &-box {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 750px;
    }
}

.surf-slider {
    padding-top: 110px;

    .slider-arrows {
        top: 50px;
        opacity: 0.5;
    }
    .slick-slide:nth-child(4n + 1) {
        .surf-box {
            margin-top: 32px;
        }
    }
    .slick-slide:nth-child(4n + 3) {
        .surf-box {
            margin-top: 89px;
        }
    }
}
.surf-box {
    &__wrapper{
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    &:hover {
        .surf-box__inner-btn {
            opacity: 1;
        }
        .surf-box__inner {
            background-color: rgba(#1c2121, 0.03);
        }
    }
    &__inner {
        min-height: 750px;
        background: rgba(#1c2121, 0.85);
        position: relative;
        transition: all 0.6s;
    }
    &__inner-title {
        font-size: 40px;
        line-height: 36px;
        padding: 72px 0 0 40px;
        width: 140px;
    }
    &__inner-location {
        @extend %font-regular;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 8px;
        transform: rotate(-90deg);
        position: absolute;
        width: 0;
        height: 0;
        left: 40px;
        white-space: nowrap;
        bottom: 80px;
        span {
            font-weight: 100;
        }
    }
    &__inner-btn {
        position: absolute;
        bottom: 0;
        text-align: center;
        left: 0;
        right: 0;
        transition: all 0.6s;
        opacity: 0;
        &:hover {
            .btn {
                color: $green;
                border-bottom: $green solid 2px;
                span {
                    background-color: transparent;
                }
            }
        }
    }
}

.slider-map {
    max-width: 1200px;
    height: 635px;
    display: block;
    background-image: url(../images/worldmapdots.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    .slick-list {
        height: 635px;
    }
    .slick-current {
        .slider-dots__content {
            display: block;
            width: 285px;
            padding: 28px 31px 0 32px;
        }
    }
}
.slider-dots {
    position: relative;
    &__circle {
        width: 23px;
        height: 23px;
        background-color: $green;
        border-radius: 50%;
        position: relative;
        box-shadow: 0 0 35px #4af6cd;
    }
    &__content {
        display: none;
        background-color: rgba(#000, 0.4);
        border-radius: 6px;
        position: absolute;
        bottom: 35px;
        transform: translateX(-50%);
        z-index: 4;
        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 20px solid $green;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            bottom: -21px;
            left: 50%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
    &__content-item {
        text-align: center;
        img {
            margin-bottom: 7px;
        }
    }
    &__content-number {
        line-height: 23px;
    }
    &__content-name {
        @extend %font-light;
        font-size: 10px;
        line-height: 12px;
    }
    &__content-row {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
    }
    &__content-title {
        font-size: 18px;
        line-height: 26px;
        padding-bottom: 8px;
        margin-bottom: 8px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            background-color: $green;
            width: 80px;
            height: 1px;
            bottom: 0;
            left: 0;
        }
    }
    &__content-subtitle {
        line-height: 19px;
        text-transform: capitalize;
    }
    &__content-link {
        padding-top: 4px;
    }
    &.slider-dots--1 {
        top: 335px;
        left: 30px;
        .slider-dots__content {
            transform: translateX(0);
            &::before {
                left: 0;
            }
        }
    }
    &.slider-dots--2 {
        top: 270px;
        left: 0;
        .slider-dots__circle::after {
            content: "";
            position: absolute;
            background-image: url(../images/mini-marker.png);
            background-size: cover;
            top: -20px;
            right: -15px;
            width: 14px;
            height: 17px;
        }
    }
    &.slider-dots--3 {
        top: 315px;
        left: 35px;
    }
    &.slider-dots--4 {
        top: 480px;
        left: -31px;
    }
    &.slider-dots--5 {
        top: 215px;
        left: -50px;
    }
    &.slider-dots--6 {
        top: 540px;
        left: -110px;
    }
    &.slider-dots--7 {
        top: 370px;
        left: -80px;
    }
    &.slider-dots--8 {
        top: 470px;
        left: 40px;
        .slider-dots__content {
            transform: translateX(-262px);
            &::before {
                right: 0;
                left: auto;
            }
        }
    }
}

.holder {
    background-image: url(../images/travel-bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    &.sleep {
        background-image: url(../images/flower.png);
    }
    .slider-arrows {
        top: 225px;
        opacity: 0.5;
    }
}

.holder-slider {
    &__head {
        background-repeat: no-repeat;
        background-position: top left;
        min-height: 780px;
    }
    &__descr {
        padding: 212px 0 0px 132px;
        margin-top: -18%;
        background-repeat: no-repeat;
        background-position: right center;
        min-height: 320px;
        background-size: contain;
        .descr__head {
            margin-right: 78px !important;
        }
        .descr__head-img {
            padding-left: 10px;
            display: inline !important;
        }
    }
    &__subtitle {
        text-align: right;
        padding-right: 80px;
        padding-top: 112px;
    }
    &__btn {
        text-align: center;
    }
}

.holder-slider__info {
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
    &-item {
        min-height: 200px;
        margin-bottom: 66px;
        position: relative;
    }
    &-subtitle {
        position: absolute;
        font-size: 18px;
        line-height: 22px;
        @extend %font-regular;
        letter-spacing: 8px;
        color: rgba(#ffffff, 0.5);
        transform: rotate(-90deg);
        top: 97px;
        left: -97px;
        width: 200px;
        height: 0;
        white-space: nowrap;
        text-align: right;
    }
    &-title {
        font-size: 40px;
        line-height: 36px;
        padding-left: 40px;
        position: relative;
        .holder-pricing__span {
            @extend %font-regular;
            position: absolute;
            font-size: 14px;
            line-height: 0;
            text-align: right;
            letter-spacing: 5.25px;
            color: rgba(#ffffff, 0.75);
            right: 0;
            bottom: -9px;
        }
    }
}

.holder__star-list {
    display: inline-block;
    li {
        margin-left: -25px;
        transform: translate(50%, 25%);
        display: inline-block !important;
    }
}

// SHOP
.shop {
    background-image: url(../images/shop-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
    &__slider {
        padding-left: 132px;
    }
    .slider-arrows {
        top: -50px;
        opacity: 0.5;
    }
    &__slider-inner {
        display: flex;
    }
    &__slider-info {
        max-width: 480px;
        width: 100%;
        margin-right: 40px;
        margin-top: 145px;
    }
    &__slider-price {
        font-size: 32px;
        line-height: 40px;

        sup {
            font-size: 18px;
        }
    }
    &__slider-content {
        display: flex;
        padding-left: 240px;
        align-items: flex-end;
    }
    &__extras {
        padding-left: 150px;
    }
    &__extras-inner {
        display: flex;
        align-items: center;
    }
    &__extras-title {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    &__extras-box {
        text-align: center;
        & + .shop__extras-box {
            margin-left: 87px;
        }
    }
    &__extras-img {
        min-height: 105px;
        display: flex;
        align-items: center;
        margin-bottom: 35px;
        justify-content: center;
    }
    &__extras-name {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 8px;
        @extend %font-regular;
        color: rgba(#fff, 0.5);
        margin-bottom: 16px;
    }
    &__extras-price {
        font-size: 18px;
        line-height: 40px;
    }
}
.descr__head-shop {
    max-width: 340px;
    margin-bottom: 47px;
}
.shop__slider-boxprice {
    margin-bottom: 64px;
    .holder__star-list {
        li {
            transform: translate(25%, 25%);
        }
    }
}

.surfboard {
    position: relative;
    &__img {
        max-width: none;
    }
}
.surfboard-box {
    position: absolute;
    &__circle {
        background-color: #fff;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        position: relative;
        cursor: pointer;
        &.active {
            .circle-row {
                transform: translate(-50%, -50%) rotate(0deg);
            }
            & + .surfboard-box__content {
                opacity: 1;
            }
        }
    }
    &__content {
        position: absolute;
        width: 359px;
        font-size: 24px;
        line-height: 24px;
        padding-left: 104px;
        top: -15px;
        left: 40px;
        opacity: 0;
        transition: all 0.3s;
        &::before {
            content: "";
            position: absolute;
            width: 80px;
            height: 1px;
            background-color: rgba(#fff, 0.5);
            left: 0;
            top: 50%;
        }
    }
}
.circle-row {
    background-color: $green;
    position: absolute;
    width: 12px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: all 0.3s;
    & + .circle-row {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}
.surfboard__position--1 {
    right: 60px;
    top: 200px;
}
.surfboard__position--2 {
    left: 0;
    top: 300px;
}
.surfboard__position--3 {
    left: 50px;
    top: 600px;
    .surfboard-box__content {
        padding-left: 0;
        padding-right: 104px;
        top: -15px;
        left: -380px;
        &::before {
            content: "";
            position: absolute;
            width: 80px;
            height: 1px;
            background-color: rgba(#fff, 0.5);
            left: auto;
            right: 0;
            top: 50%;
        }
    }
}
