$green: #4AF6CD;


%font-thin {
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
}
%font-light {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
}
%font-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
}
%font-medium {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
}
%font-extrabold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
}